@page "/Beamer"
@attribute [Authorize(Roles = "standard")]

@using Hardware4You.Models
@using Hardware4You.Data
@using MudBlazor
@inject IProductService ProductService
@inject CartService CartService

<h3>Beamer</h3>

<MudPaper Class="d-flex flex-wrap gap-4" Elevation="0">

@foreach (var product in Products)
{
    if (product.CategoryId == 7)
    {
            <MudPaper Class="mud-theme-primary" Width="256px" Height="350px" src="@product.ImageURL">
                <img src="@product.ImageURL" class="card-img">
                <h5 class="card-title">@product.Name</h5>
                <blockquote class="card-text">@product.Price CHF</blockquote>
                @if (DisplayBuyButton)
                {
                    <button class="btn btn-primary" type="button" @onclick="() => Buy(product.Id, Products.ToList())">Kaufen</button>
                }
            </MudPaper>
    }
}

</MudPaper>

@if (ClickedOnBuyingButton)
{
    <br><p>Das Produkt "name" wurde in den Warenkorb gestellt.</p>
}

@code {
    [Parameter]
    public bool DisplayBuyButton { get; set; } = true;

    public IEnumerable<Product> Products { get; set; } = null!;

    public bool ClickedOnBuyingButton { get; set; } = false;

    protected override void OnInitialized()
    {
        Products = ProductService.GetProducts();
    }

    private void Buy(long productId, List<Product> products)
    {
        CartService.AddProductToCart(productId, products);
        ClickedOnBuyingButton = true;
    }
}
