@page "/"
@attribute [AllowAnonymous]

@using Hardware4You.Data
@using Hardware4You.Models

<PageTitle>Hardware4You</PageTitle>

<h1>Hardware4You</h1><br />

<p>Viel Spass beim Einkaufen!</p>

<b>TODO: Bild Lernenden etc.</b>
