@page "/Logout"
@attribute [AllowAnonymous]

@using Hardware4You.Data
@inject UserAuthenticationStateProvider UserAuthenticationStateProvider

<h3>Logout</h3>
<button type="button" class="btn btn-success" @onclick="LogoutAsync">Logout</button>

@code {
    public async Task LogoutAsync()
    {
        await UserAuthenticationStateProvider.LogoutAsync();
    }
}