@page "/Logout"
@attribute [AllowAnonymous]

@using Hardware4You.Data;
@using Hardware4You.Data.User
@inject UserService UserService

<h3>Logout</h3>
<button type="button" class="btn btn-success" @onclick="LogoutAsync">Logout</button>

@code {
    public async Task LogoutAsync()
    {
        await UserService.LogoutAsync();
    }
}