@page "/Monitor"

@using Hardware4You.Models
@using Hardware4You.Data
@inject IProductService ProductService
@inject CartService CartService

<h3>Monitor</h3>

@foreach (var product in Products)
{
    if (product.CategoryId == 6)
    {
        <div class="card w-25">
            <div class="card-body">
                <img src="@product.ImageURL" class="card-img">
                <h5 class="card-title">@product.Name</h5>
                <blockquote class="card-text">$@product.Price</blockquote>
                @if (DisplayBuyButton)
                {
                    <button class="btn btn-primary" type="button" @onclick="() => Buy(product.Id, Products.ToList())">Kaufen</button>
                }
            </div>
        </div>
    }
}

@if (ClickedOnBuyingButton)
{
    <br><p>Das Produkt "name" wurde in den Warenkorb gestellt.</p>
}


@code {
    [Parameter]
    public bool DisplayBuyButton { get; set; } = true;

    public IEnumerable<Product> Products { get; set; } = null!;

    public bool ClickedOnBuyingButton { get; set; } = false;

    protected override void OnInitialized()
    {
        Products = ProductService.GetProducts();
    }

    private void Buy(long productId, List<Product> products)
    {
        CartService.AddProductToCart(productId, products);
        ClickedOnBuyingButton = true;
    }
}
