@page "/ShoppingCart"

@using Hardware4You.Data
@using Hardware4You.Models
@using MudBlazor
@inject CartService CartService

<h3>Warenkorb</h3>

@if (Products.Count() > 0)
{
    <br><h4>Du hast @Products.Count Artikel im Warenkorb:</h4>
    <!--TODO: Verlinkung Produkteseiten anstatt doppelter code. dont know how yet-->
    <!--<Iphone Products="Products"></Iphone>-->

    <MudPaper Class="d-flex flex-wrap gap-4" Elevation="0">
        @foreach (var product in Products)
        {
            <MudPaper Class="mud-theme-primary" Width="256px" Height="350px" src="@product.ImageURL">
                <img src="@product.ImageURL" class="card-img">
                <h5 class="card-title">@product.Name</h5>
                <blockquote class="card-text">$@product.Price</blockquote>
            </MudPaper>
        }
    </MudPaper>
}
else
{
    <br><h4>Du hast keine Artikel im Warenkorb.</h4>
}

@code {
    List<Product> Products = new List<Product>();

    protected override void OnInitialized()
    {
        Products = CartService.SelectedItems;
    }
}
