@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Hardware4You

            <a href=""><img src="logo.png" style="height:30px" /></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
