<div class="top-row navbar navbar-dark">
    <!--<div class="top-row navbar navbar-dark" style="height: 10.5rem">-->
    <div class="container-fluid">
        <!--Name und Logo-->
        <img src="logo_weiss.png" />
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column" id="navmenuicons">
        <!--Menüleiste Startseite-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Startseite
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorizing>
                <div>Laden...</div>
            </Authorizing>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/login">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <AuthorizeView Roles="standard">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/ShoppingCart">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Warenkorb
                    </NavLink>
                </div>

                <!--Menüleiste iPhone-->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/iPhone" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> iPhone
                    </NavLink>
                </div>

                <!--Menüleiste iPad-->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/iPad" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> iPad
                    </NavLink>
                </div>

                <!--Menüleiste Macbook-->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Macbook" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Macbook
                    </NavLink>
                </div>

                <!--Menüleiste HP Laptop-->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Laptop" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> HP Laptop
                    </NavLink>
                </div>

                <!--Menüleiste PC-->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/PC" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> PC
                    </NavLink>
                </div>

                <!--Menüleiste Monitor-->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Monitor" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Monitor
                    </NavLink>
                </div>

                <!--Menüleiste Beamer-->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Beamer" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Beamer
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Admin
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
