@using Hardware4You.Data
@using Hardware4You.Models
@using Hardware4You.Pages
@using MudBlazor
@inject IProductCategoryService ProductCategoryService

<div class="top-row navbar navbar-dark">
    <!--<div class="top-row navbar navbar-dark" style="height: 10.5rem">-->
    <div class="container-fluid">
        <!--Name und Logo-->
        <img src="logo_weiss.png" />
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column" id="navmenuicons">
        <AuthorizeView>
            <Authorizing>
                <div>Laden...</div>
            </Authorizing>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/login">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <AuthorizeView Roles="standard">
            <Authorized>
                <!--Menüleiste Startseite-->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Startseite
                    </NavLink>
                </div>

                <!--Menüleiste Warenkorb: ausgeblendet-->
                <!--<div class="nav-item px-3">
                    <NavLink class="nav-link" href="/ShoppingCart">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Warenkorb
                    </NavLink>
                </div>-->

                @foreach (var productCat in ProductCategories)
                {
                    <div class="nav-item px-3">
                        <a class="nav-link" href="/products/@productCat.Id">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>@productCat.Name
                        </a>
                    </div>
                }
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/products">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Produkte
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/productcategories">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Produktkategorien
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/users">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Benutzer
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [EditorRequired]
    [Parameter]
    public IEnumerable<ProductCategory> ProductCategories { get; set; } = null!;

    protected override void OnInitialized()
    {
        ProductCategories = ProductCategoryService.GetProductCategories();
    }
}
